body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
h1,h4,p{
  margin: 0px
}
.login_form {
  @include flexbox;
  @include flex(center);
  @include justify(center);
  @include box-pack(center);
  -webkit-align-items: center;
  align-items: center;
}
.loginToSpotifyAccount {
  width: 94%;
  margin: 2em 3% 0;
  border: none;
  background: #1CD860;
  padding: 1em 0;
  font-size: 1.25em;
  text-transform: uppercase;
  clear: both;
  color: white;
  @include border-radius(5px);
  outline: none;
  @include trans(all, 0.25s);
  cursor: pointer;
  border-radius: 30px;
  width: 50%;
  margin-left: 10%;
  margin-top: -10%;

}
button:focus,
button:hover {
  background: #262626;
}

.sessionp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
  text-align: center;
  
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  min-height: 30rem;
}
form {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

.name-field {
  margin-bottom: 40px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}
