
body {
  background-color: black;
}
.login_form {
  @include flexbox;
  @include flex(center);
  @include justify(center);
  @include box-pack(center);
  -webkit-align-items: center;
    align-items: center;
}
button {
  width: 94%;
  margin: 2em 3% 0;
  border: none;
  background: #1fd100;
  padding: 1em 0;
  font-size: 1.25em;
  clear: both;
  color: #000;
  @include border-radius(5px);
  outline: none;
  @include trans(all, .25s);
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
  margin-left: 25%;

}
button:focus,button:hover {
  background: #262626;
}
