.globalContainer{ 
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.LogInPage{
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  padding:20px;
  background: #1DB954;
  justify-content: space-around;
}

.btn_delete_LoginPage{
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

.loginGroup{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}