.MusicBar{
  display: flex;
  /* background: chartreuse; */
  justify-content: space-between;
  height: 100px;
  width: 100vw;
}
.container_audio {
  
}
.imgInMusicBar{
  display: flex;
  width: 20vw;

}

.mainContainerProgresBar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: crimson; */
  width: 80vw;
}

.contentOfSong{
  display: flex;
  align-items: flex-start;
  padding:  0 00 0 10px;
  flex-direction: column;

}

.audioProgresBar{
  background: transparent;
  border: none;
width: 100%;
}