.Navbar{
  display: flex;
  background-color: rgba(0,0,0,0.6);
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0.8px;
  padding-left: 40px;
  position: fixed;
  top: 0;
  width: 100%;
}

.Navbar :hover{
  color: #ffffff;
}

.LogInAndSignIn {
  display: flex;
  text-decoration: none;
  color: white;
  padding-left: 30px ;
  padding-right: 30px ;
  border-left: 1px solid white;
}

.LogInAndSignIn :hover{
  color: greenyellow;
}

.navLogo{ 
  align-items: center;
  margin-left: 40px;
  width: auto;
  height: 50px;
}


.navitem {
  text-decoration: none;
  color:whitesmoke;
  font-weight: bold;
  margin: 10px;

}